<html>
    <head>
        <title>Tur</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="icon" href="{{ url_for('static', filename='media/logo.png') }}">

        <script language="javascript" type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/arbor.js') }}"></script>
        <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/graphics.js') }}"></script>
        <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/renderer.js') }}"></script>
        <script language="javascript" type="text/javascript" src="{{ url_for('static', filename='scripts/arbor-tweens.js') }}"></script>

        <style>
            .cabecalho {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            img {
                display: block;
            }
    
            h1 {
                color: #002776;
                text-align: center;
            }
    
            h2 {
                color: gray;
                text-align: center;
                padding-bottom: 0.5%;
            }

            .botoes {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .botao-iniciar, .botao-velocidade-aumentar {
                margin-left: 5px;
            }

            .botao-resetar, .botao-velocidade-diminuir {
                margin-right: 5px;
            }

            .execucao-codigo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            h4 {
                color: gray;
                text-align: center;
                margin-top: 20px;
                margin-bottom: 10px;
            }

            p {
                margin-top: 40px;
                text-align: center;            
            }

            .legenda, .logs {
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 5%;
                margin-right: 5%;
            }

            .tabela {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>
        <div class="cabecalho">
            <img src="{{ url_for('static', filename='media/logo.png') }}" width="100" height="90" />
            <h1 class="titulo"><b>Tur</b></h1>
        </div>

        <h2 class="subtitulo">Problema do Viajante</h2>

        <div class="botoes">
            <div class="botao-resetar">
                <button type="button" class="btn btn-warning" onclick="resetar()"><b>RESETAR</b></button>
            </div>
            <div class="botao-iniciar">
                <button type="button" class="btn btn-success" onclick="iniciar()"><b>INICIAR</b></button>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h4>Aplicação do Algoritmo de Held-Karp</h4>
                    
                    <div class="aguardando-inicio">
                        <p>Aguardando início de execução...</p>
                    </div>
                    
                    <div class="execucao-codigo">
                        <canvas id="viewport" width="800" height="400"></canvas>
                    </div>
                    
                    <div class="botoes">
                        <div class="botao-velocidade-diminuir"></div>
                        <div class="botao-velocidade-aumentar"></div>
                    </div>
                    
                    <div class="Legenda"></div>
                </div>
                <div class="col-md-6">
                    <div class="tabela">
                        <table class="table table-striped table-bordered" style="text-align: center; width: 84%;">
                            {% for linha in tabelaDistancias %}
                                <tr>
                                    {% for distancia in linha %}
                                        {% if distancia[0] == "M" or distancia[0] == "L" %}
                                            <th>{{ distancia }}</th>
                                        {% else %}
                                            <td>{{ distancia }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div id="logs" class="logs"></div>
                </div>
            </div>
        </div>

        <script language="javascript" type="text/javascript">

            function construcaoGrafo(matrizDistancias){
                // Logs
                let logs = document.getElementsByClassName('logs')
                let tituloLogs = logs[0].innerHTML.substring(0, 28)
                let conteudoLogs = logs[0].innerHTML.substring(28)
                
                let novoLog = '<br/><font>Construindo grafo...</font><br/>'
                let novoLogs = tituloLogs + novoLog + conteudoLogs

                $('.logs').html(novoLogs)

                for (let i = 1; i <= matrizDistancias.length; i++){
                    let color = (i - 1 == 0 ? "#009c3b" : "#002776")
                    sys.addNode(
                        "No_" + (i - 1), {label: "Local nº: " + i.toString(), color: color, shape: "circle", "fixed": true}
                    )
                }

                for (let i = 1; i <= matrizDistancias.length; i++){
                    for (let j = 1; j <= matrizDistancias.length; j++){
                        sys.addEdge("No_" + (i - 1), "No_" + (j - 1), {length: 4, color: "black"})
                    }
                }
            }

            function sleep(ms) {
                return new Promise(
                    resolve => setTimeout(resolve, ms)
                );
            }

            async function HeldKarp(matrizDistancias, conjuntosSubgrafos){
                var numeroNos = matrizDistancias.length

                let custoPercursoSubgrafos = {}

                for (let i = 1; i < numeroNos; i++){
                    // Trabalha com os subgrafos do primeiro nó
                    // Os subgrafos que incluem o nó inicial são os subgrafos de primeiro deslocamento
                    // Conjunto de subgrafos de primeiro deslocamento: [[nó inicial, vizinho 1], [nó inicial, vizinho 2], ...]
                    // Por causa do nó inicial, os subgrafos de primeiro deslocamento só possuem um sentido: nó inicial -> vizinho

                    // Os subgrafos de primeiro deslocamento só possuem um deslocamento possível, esse é o deslocamento de menor custo do subgrafo

                    // Coleta as distâncias dos primeiros deslocamentos possíveis
                    custoPercursoSubgrafos[[1 << i, i]] = [
                        matrizDistancias[0][i], 0
                    ]

                    // Visualização
                    await sleep(200 / velocidade[opcaoVelocidade])

                    // Logs
                    let logs = document.getElementsByClassName('logs')
                    let tituloLogs = logs[0].innerHTML.substring(0, 28)
                    let conteudoLogs = logs[0].innerHTML.substring(28)

                    let novoLog = '<br/><font>Armazenando dados do deslocamento <b>(1,' + (i + 1) + ')</b>...</font><br/>'
                    let novoLogs = tituloLogs + novoLog + conteudoLogs

                    $('.logs').html(novoLogs)
                    
                    let no = sys.getNode("No_" + i)
                    sys.tweenNode(no, 0.1, {color: "#ffdf00"})
                
                    await sleep(200 / velocidade[opcaoVelocidade])
                
                    sys.tweenNode(no, 0.1, {color: "#002776"})

                    // custoPercursoSubgrafos[bits, destino] = [distância, origem] 
                    // Obs.: A distância inclui o caminho percorrido até a origem - distância percorrida
                    // Obs.: Os bits identificam o subgrafo do deslocamento
                }

                // Percorre conjuntos de subgrafos
                for (let i = 2; i < numeroNos; i++){
                    // Conjunto de subgrafos de mesmo tamanho
                    let conjuntoSubgrafos = conjuntosSubgrafos[i - 2]
                    let numeroSubgrafosConjunto = conjuntoSubgrafos.length
                    
                    // Percorre sugrafos do conjunto
                    for (let j = 0; j < numeroSubgrafosConjunto; j++){
                        let subgrafo = conjuntoSubgrafos[j]
                        let tamanhoSubgrafo = subgrafo.length

                        let bits = 0

                        // Percorrer subgrafo - gerar bits para os subgrafos
                        for (let k = 0; k < tamanhoSubgrafo; k++){
                            bits = bits | 1 << subgrafo[k]

                            // Os componentes de um subgrafo são distintos e, portanto, geram deslocamentos distintos
                            // A -> B !== B -> A

                            // Então é possível acessar um deslocamento específico usando o seu valor de bits
                            // e o seu valor de origem ou destino
                            
                            // Diferentes subgrafos podem possuir deslocamentos iguais, mas os percursos
                            // anteriores e distância acumulada podem ser diferentes

                            // Visualização
                            await sleep(300 / velocidade[opcaoVelocidade])

                            // Logs
                            let logs = document.getElementsByClassName('logs')
                            let tituloLogs = logs[0].innerHTML.substring(0, 28)
                            let conteudoLogs = logs[0].innerHTML.substring(28)

                            let novoLog = '<br/><font>Percorrendo o <b>subgrafo ' + (j + 1) + '.' + (i - 1) + '</b> e gerando o seu identificador...</font><br/>'
                            let novoLogs = tituloLogs + novoLog + conteudoLogs

                            $('.logs').html(novoLogs)
                    
                            let no = sys.getNode("No_" + subgrafo[k])
                            sys.tweenNode(no, 0.1, {color: "#00FFFF"})
                
                            await sleep(300 / velocidade[opcaoVelocidade])
                
                            sys.tweenNode(no, 0.1, {color: "#002776"})
                        }

                        // Percorrer subgrafo - coletar opções de deslocamento
                        for (let k = 0; k < tamanhoSubgrafo; k++){                            
                            // Recuperação do bits que identifica um subgrafo do conjunto anterior de subgrafos
                            let prev = bits & ~(1 << subgrafo[k])

                            // subgrafo[l] = no origem
                            // subgrafo[k] = no destino

                            // O subgrafo[k], na operação acima, garante que o bits recuperado identifique um subgrafo
                            // do conjunto de subgrafos anterior ao atual que possua deslocamento para o subgrafo[l] e 
                            // não possua deslocamento para o subgrafo[k]

                            let opcoesDeslocamento = []

                            // Percorrer subgrafo
                            // Encontra a opção de deslocamento com menor custo para o destino subgrafo[k]
                            for (let l = 0; l < tamanhoSubgrafo; l++){
                                if (subgrafo[l] === 0 || subgrafo[l] === subgrafo[k]){
                                    continue
                                }
                                
                                // O índice é utilizado para acessar o custo acumulado do deslocamento do nó inicial 
                                // até o subgrafo[l] no subgrafo identificado pela variável prev

                                let indice = prev.toString() + "," + subgrafo[l].toString()

                                opcoesDeslocamento.push(
                                    [custoPercursoSubgrafos[indice][0] + matrizDistancias[subgrafo[l]][subgrafo[k]], subgrafo[l]]
                                )

                                // Visualização
                                await sleep(400 / velocidade[opcaoVelocidade])
                                
                                // Logs
                                let logs = document.getElementsByClassName('logs')
                                let tituloLogs = logs[0].innerHTML.substring(0, 28)
                                let conteudoLogs = logs[0].innerHTML.substring(28)

                                let novoLog = '</br><font>Coletando o custo acumulado do deslocamento <b>(' + (subgrafo[l] + 1) + ',' + (subgrafo[k] + 1) + ')</b> no subgrafo <b>' + 
                                    (j + 1) + '.' + (i - 1) + '</b>...</font><br/>' + '<font color="#002776"><b>Atenção: </b></font><font>O <b>custo acumulado</b> inclui o custo de ' +
                                    'deslocamento até a origem do deslocamento analisado.</font></br>'

                                let novoLogs = tituloLogs + novoLog + conteudoLogs

                                $('.logs').html(novoLogs)
                    
                                let noOrigem = sys.getNode("No_" + subgrafo[l])
                                let noDestino = sys.getNode("No_" + subgrafo[k])
                                sys.tweenNode(noOrigem, 0.1, {color: "#CF3215"})
                                sys.tweenNode(noDestino, 0.1, {color: "#7821DB"})
        
                                await sleep(400 / velocidade[opcaoVelocidade])
        
                                sys.tweenNode(noOrigem, 0.1, {color: "#002776"})
                                sys.tweenNode(noDestino, 0.1, {color: "#002776"})
                            }

                            opcoesDeslocamento.sort(
                                function(a, b){
                                    return a[0] < b[0] ? -1 : a[0] > b[0] ? 1 : 0; 
                                }   
                            )

                            // Logs
                            let logs = document.getElementsByClassName('logs')
                            let tituloLogs = logs[0].innerHTML.substring(0, 28)
                            let conteudoLogs = logs[0].innerHTML.substring(28)

                            let novoLog = '<br/><font>Armazenando dados do deslocamento <b>(' + (opcoesDeslocamento[0][1] + 1) + ',' + (subgrafo[k] + 1) + ')</b>...<br/>Deslocamento, ' +
                                'coletado no subgrafo <b>' + (j + 1) + '.' + (i - 1) + '</b>, com menor custo para visitar o <b>Local nª ' + (subgrafo[k] + 1) + '</b>.</font></br>'  
                            
                            let novoLogs = tituloLogs + novoLog + conteudoLogs

                            $('.logs').html(novoLogs)
                           
                           // Somente é salva a opção de deslocamento para o destino subgrafo[k] com menor custo acumulado
                           custoPercursoSubgrafos[[bits, subgrafo[k]]] = opcoesDeslocamento[0]
                        }
                    }
                }

                // Gerar o bits que identifica o último subgrafo
                let bits = 2**numeroNos - 2

                // -2: os bits da primeira locomoção foram calculados separadamente

                // O último conjunto de subgrafos é a ultima combinação, a combinação com maior números de componentes possível
                // O último conjunto de subgrafos só possui um subgrafo, portanto esse bits identifica também o último conjunto de subgrafos

                let opcoesDeslocamentoFinalSalvas = []
                for (let i = 1; i < numeroNos; i++){
                    let indice = bits.toString() + "," + i.toString()
                    opcoesDeslocamentoFinalSalvas.push([custoPercursoSubgrafos[indice][0] + matrizDistancias[i][0], i])
                }

                // Identifica melhor custo de percurso
                opcoesDeslocamentoFinalSalvas.sort(
                    function(a, b){
                        return a[0] < b[0] ? -1 : a[0] > b[0] ? 1 : 0; 
                    }   
                )
                let melhorCustoPercurso = opcoesDeslocamentoFinalSalvas[0][0]
                
                // Destino final do percurso antes do retorno ao ponto inicial
                let destino = opcoesDeslocamentoFinalSalvas[0][1]

                let percursoComMenorCusto = []
                for (let i = 0; i < (numeroNos - 1); i++){
                    // Visualização
                    await sleep(300 / velocidade[opcaoVelocidade])

                    // Logs
                    logs = document.getElementsByClassName('logs')
                    tituloLogs = logs[0].innerHTML.substring(0, 28)
                    conteudoLogs = logs[0].innerHTML.substring(28)

                    novolog = '<br/><font>Identificando percurso com menor custo...<br/>O <b>Local nº ' + (destino + 1) + '</b> deve ser o <b>' + (numeroNos - i) + 'º</b> a ser ' +
                        'visitado.</font><br/>'

                    novoLogs = tituloLogs + novolog + conteudoLogs

                    $('.logs').html(novoLogs)
       
                    let no = sys.getNode("No_" + (destino))
                    sys.tweenNode(no, 0.1, {color: "red"})
        
                    await sleep(300 / velocidade[opcaoVelocidade])
        
                    sys.tweenNode(no, 0.1, {color: "#002776"})

                    // Percorrendo percuso de melhor custo em ordem inversa
                    percursoComMenorCusto.push(destino)

                    // Bits que identifica o subgrafo da origem do destino
                    let bits_origem = bits & ~(1 << destino)

                    // Identificando a origem do destino
                    let indice = bits.toString() + "," + destino.toString()    
                    
                    // Transformando a origem do destino em novo destino
                    destino = custoPercursoSubgrafos[indice][1]

                    bits = bits_origem
                }

                percursoComMenorCusto.push(0)
                percursoComMenorCusto.reverse()

                for (let i = 0; i < numeroNos; i++){
                    let no = sys.getNode("No_" + percursoComMenorCusto[i])
                    edges = sys.getEdgesTo(no)

                    for (let j = 0; j < edges.length; j++){
                        sys.pruneEdge(edges[j])
                    }
                }

                // Logs
                logs = document.getElementsByClassName('logs')
                tituloLogs = logs[0].innerHTML.substring(0, 28)
                conteudoLogs = logs[0].innerHTML.substring(28)

                novoTitulo = '<br>Melhor Percurso:</br>'
                novosTitulos = tituloLogs + novoTitulo

                novoLogs = novosTitulos + conteudoLogs
                $('.logs').html(novoLogs)

                await sleep(400 / velocidade[opcaoVelocidade])

                for (let i = 0; i < numeroNos; i++){
                    let no = sys.getNode("No_" + percursoComMenorCusto[i])
                    sys.tweenNode(no, 0.1, {color: "#009c3b"})

                    // Logs
                    logs = document.getElementsByClassName('logs')
                    tituloLogs = logs[0].innerHTML.substring(0, (novosTitulos.length - 5))
                    conteudoLogs = logs[0].innerHTML.substring(28)

                    novoLog = " " + percursoComMenorCusto[i] + " -"
                    novosTitulos = tituloLogs + novoLog
                    novoLogs = novosTitulos + conteudoLogs
                    $('.logs').html(novoLogs)

                    await sleep(400 / velocidade[opcaoVelocidade])

                    sys.addEdge("No_" + percursoComMenorCusto[i], "No_" + percursoComMenorCusto[(i+1) % numeroNos], {length: .75, color: "#009c3b"})

                    // Logs
                    // logs = document.getElementsByClassName('logs')
                    // tituloLogs = logs[0].innerHTML.substring(0, 28)
                    // conteudoLogs = logs[0].innerHTML.substring(28)

                    // melhorCustoPercurso

                    // '<b>Melhor Percurso</b>: ' + percursoComMenorCusto[]
                    // novolog = '<br/><font>Identificando percurso com menor custo...<br/>O <b>Local nº ' + (destino + 1) + '</b> deve ser o <b>' + (numeroNos - i) + 'º</b> a ser ' +
                    //     'visitado.</font><br/>'

                    // novoLogs = tituloLogs + novolog + conteudoLogs

                    //$('.logs').html(novoLogs)

                    await sleep(400 / velocidade[opcaoVelocidade])
                }
            }

            var velocidade = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 1.75, 2]
            var opcaoVelocidade

            var sys = arbor.ParticleSystem();

            sys.parameters({gravity: true});
            sys.renderer = Renderer("#viewport")

            function aumentarVelocidade() {
                opcaoVelocidade = opcaoVelocidade + 1
                
                if (opcaoVelocidade === 7){
                    $('.botao-velocidade-aumentar').html(
                        '<button type="button" class="btn btn-outline-danger" onclick="aumentarVelocidade()" disabled><b>AUMENTAR VELOCIDADE</b></button>'
                    )
                }

                if (opcaoVelocidade === 1) {
                    $('.botao-velocidade-diminuir').html(
                        '<button type="button" class="btn btn-outline-primary" onclick="diminuirVelocidade()"><b>DIMINUIR VELOCIDADE</b></button>'
                    )
                }
            }

            function diminuirVelocidade() {
                opcaoVelocidade = opcaoVelocidade - 1

                if (opcaoVelocidade === 0){
                    $('.botao-velocidade-diminuir').html(
                        '<button type="button" class="btn btn-outline-primary" onclick="diminuirVelocidade()" disabled><b>DIMINUIR VELOCIDADE</b></button>'
                    )
                }

                if (opcaoVelocidade === 6){
                    $('.botao-velocidade-aumentar').html(
                        '<button type="button" class="btn btn-outline-danger" onclick="aumentarVelocidade()"><b>AUMENTAR VELOCIDADE</b></button>'
                    )
                }
            }

            function iniciar(){
                var matrizDistancias = {{ matrizDistancias }}
                var conjuntosSubgrafos = {{ conjuntosSubgrafos }}

                $('.logs').html(
                    '<font><b>Logs</b></font>' +
                    '<br /><font>Iniciando execução do algoritmo...</font>'
                )

                opcaoVelocidade = 3

                logs = document.getElementsByClassName('logs')
                tituloLogs = logs[0].innerHTML.substring(0, 28)
                conteudoLogs = logs[0].innerHTML.substring(28)
                
                novolog = '<br/><font>Velocidade definida: <b>normal</b>.</font><br/>' 
                novoLogs = tituloLogs + novolog + conteudoLogs
                
                $('.logs').html(novoLogs)

                $('.botao-iniciar').html('')

                $('.aguardando-inicio').html('')               
         
                $('.botao-velocidade-aumentar').html(
                    '<button type="button" class="btn btn-outline-danger" onclick="aumentarVelocidade()"><b>AUMENTAR VELOCIDADE</b></button>'
                )

                $('.botao-velocidade-diminuir').html(
                    '<button type="button" class="btn btn-outline-primary" onclick="diminuirVelocidade()"><b>DIMINUIR VELOCIDADE</b></button>'
                )

                $('.legenda').html(
                    '<font><b>Legenda</b></font>' +
                    '<br />' +
                    '<font color="#ffdf00"><b>COR AMARELA: </b></font>Deslocamento do <font color="#009c3b"><b>nó inicial</b></font> para os seus vizinhos.' +
                    '<br />' +
                    '<font color="#00FFFF"><b>COR AZUL CLARO: </b></font>Geração dos identificadores de subgrafos.' +
                    '<br />' +
                    '<font color="#CF3215"><b>COR MARROM: </b></font>Origem de um deslocamento.' +
                    '<br />' +
                    '<font color="#7821DB"><b>COR ROXA: </b></font>Destino de um deslocamento.' +
                    '<br />' +
                    '<font color="red"><b>COR VERMELHA: </b></font>Percorre os destinos de menor custo para construir o percurso de menor custo.' +
                    '<br />' +
                    '<font color="#009c3b"><b>COR VERDE: </b></font>Posição no percurso encontrada.' +
                    '<br/>'
                )

                construcaoGrafo(matrizDistancias)
                HeldKarp(matrizDistancias, conjuntosSubgrafos)
            }

            function resetar(){
                window.location.reload()
            }
      </script>
    </body>
</html>